.curve-image-button{
width: 60px;
height: 50px;
position: relative;

}

.curve-container{
  height: inherit;
  border-top-left-radius: 20px;
}

.top-curve {
  height: 50px;
  width: 50px;
  transform: rotate(270deg);
  position: absolute;
  right: -20px;
  top: -50px;
  clip-path: path("M0 0 Q0,30 30,30 L 0 30 Z");
}
.bottom-curve {
   height: 50px;
  width: 50px;
  transform: rotate(270deg);
  position: absolute;
  left: -30px;
  top: 0px;
  clip-path: path("M0 0 Q0,30 30,30 L 0 30 Z");
}
